@media screen and (min-width: 0) {
  .CCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1040px;
  }
}

.CCard_1,
.CCard_2,
.CCard_3,
.CCard_4,
.CCard_5,
.CCard_6,
.CCard_7,
.CCard_8,
.CCard_9,
.CCard_10 {
  width: 192px;
  height: 256px;
  border-radius: 12px;
  background-color: #efefef;
  margin-bottom: 40px;
  display: flex;
  align-items: end;
}
