@font-face {
  font-family: 'Pretendard-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf')
      format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard-Medium';
  font-weight: 500;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf')
      format('truetype');
  font-display: swap;
}
.TPPlanListCurrentTitle {
  margin-top: 65px;
}
.TPPlanListCurrentTitle span {
  font-family: Pretendard-Medium;
  font-size: 16px;
  margin-left: 7px;
}
.TPPlanListCurrentCard {
  display: flex;
  margin-top: 11px;
  width: 848px;
}
.TPPlanListCurrentCard > div {
  width: 192px;
  height: 256px;
  border-radius: 12px;
  background-color: #efefef;
  margin-right: 20px;
}
.TPPlanListPastTitle {
  margin-top: 57px;
}

.TPPlanListPastTitle span {
  font-family: Pretendard-Medium;
  font-size: 16px;
  margin-left: 7px;
}

.TPPlanListPastCard {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  width: 848px;
  margin-bottom: 115px;
}
.TPPlanListPastCard > div {
  width: 192px;
  height: 256px;
  border-radius: 12px;
  background-color: #efefef;
  margin-right: 20px;
  margin-bottom: 23px;
}
